<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>background_sky.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 450}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 450}</string>
			<key>spriteSourceSize</key>
			<string>{16, 450}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 16}, {16, 450}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>background_wave01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 68}</string>
			<key>spriteSourceSize</key>
			<string>{52, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 446}, {52, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>background_wave02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {52, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{52, 66}</string>
			<key>spriteSourceSize</key>
			<string>{52, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 120}, {52, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>background_wave03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {52, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{52, 64}</string>
			<key>spriteSourceSize</key>
			<string>{52, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 440}, {52, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>background_wave04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {52, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{52, 62}</string>
			<key>spriteSourceSize</key>
			<string>{52, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 380}, {52, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>background_wave05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {52, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{52, 64}</string>
			<key>spriteSourceSize</key>
			<string>{52, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 506}, {52, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>background_wave06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {52, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{52, 66}</string>
			<key>spriteSourceSize</key>
			<string>{52, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 212}, {52, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boat01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {104, 332}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{104, 332}</string>
			<key>spriteSourceSize</key>
			<string>{104, 332}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 16}, {104, 332}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_down01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 44}, {66, 70}}</string>
			<key>spriteOffset</key>
			<string>{-7, -22}</string>
			<key>spriteSize</key>
			<string>{66, 70}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 534}, {66, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_down02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 54}, {66, 60}}</string>
			<key>spriteOffset</key>
			<string>{-7, -27}</string>
			<key>spriteSize</key>
			<string>{66, 60}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 534}, {66, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_down03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 56}, {66, 58}}</string>
			<key>spriteOffset</key>
			<string>{-7, -28}</string>
			<key>spriteSize</key>
			<string>{66, 58}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 516}, {66, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_idle01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 18}, {60, 96}}</string>
			<key>spriteOffset</key>
			<string>{2, -9}</string>
			<key>spriteSize</key>
			<string>{60, 96}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{358, 188}, {60, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_idle02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 20}, {60, 94}}</string>
			<key>spriteOffset</key>
			<string>{2, -10}</string>
			<key>spriteSize</key>
			<string>{60, 94}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 606}, {60, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_idle03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 20}, {60, 94}}</string>
			<key>spriteOffset</key>
			<string>{2, -10}</string>
			<key>spriteSize</key>
			<string>{60, 94}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 606}, {60, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_idle04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 22}, {60, 92}}</string>
			<key>spriteOffset</key>
			<string>{2, -11}</string>
			<key>spriteSize</key>
			<string>{60, 92}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{346, 286}, {60, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_jump01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 8}, {60, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{60, 106}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 300}, {60, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_jump02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 4}, {60, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 5}</string>
			<key>spriteSize</key>
			<string>{60, 96}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 16}, {60, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_jump03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 2}, {60, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 9}</string>
			<key>spriteSize</key>
			<string>{60, 92}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 596}, {60, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_jump04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 2}, {60, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 10}</string>
			<key>spriteSize</key>
			<string>{60, 90}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 468}, {60, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_walk01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 28}, {62, 86}}</string>
			<key>spriteOffset</key>
			<string>{-1, -14}</string>
			<key>spriteSize</key>
			<string>{62, 86}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 212}, {62, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_walk02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 10}, {60, 102}}</string>
			<key>spriteOffset</key>
			<string>{2, -4}</string>
			<key>spriteSize</key>
			<string>{60, 102}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 16}, {60, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_walk03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 8}, {60, 98}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{60, 98}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{338, 408}, {60, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_walk04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 10}, {60, 96}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{60, 96}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 560}, {60, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {166, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{166, 44}</string>
			<key>spriteSourceSize</key>
			<string>{166, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 446}, {166, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{192, 42}</string>
			<key>spriteSourceSize</key>
			<string>{192, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 402}, {192, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{132, 40}</string>
			<key>spriteSourceSize</key>
			<string>{132, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 492}, {132, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plank01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {584, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{584, 14}</string>
			<key>spriteSourceSize</key>
			<string>{584, 14}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {584, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sail01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {122, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{122, 188}</string>
			<key>spriteSourceSize</key>
			<string>{122, 194}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{586, 0}, {122, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sail02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 188}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{114, 188}</string>
			<key>spriteSourceSize</key>
			<string>{122, 194}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 16}, {114, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sail03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {110, 194}}</string>
			<key>spriteOffset</key>
			<string>{-6, -0}</string>
			<key>spriteSize</key>
			<string>{110, 194}</string>
			<key>spriteSourceSize</key>
			<string>{122, 194}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 16}, {110, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sail04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {110, 194}}</string>
			<key>spriteOffset</key>
			<string>{-6, -0}</string>
			<key>spriteSize</key>
			<string>{110, 194}</string>
			<key>spriteSourceSize</key>
			<string>{122, 194}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 206}, {110, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>waterdrop01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{22, 22}</string>
			<key>spriteSourceSize</key>
			<string>{22, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 384}, {22, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>waterdrop02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {12, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{12, 12}</string>
			<key>spriteSourceSize</key>
			<string>{12, 12}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 384}, {12, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>waterwave01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 32}</string>
			<key>spriteSourceSize</key>
			<string>{52, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 350}, {52, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>waterwave02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {52, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{52, 30}</string>
			<key>spriteSourceSize</key>
			<string>{52, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 408}, {52, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>waterwave03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {52, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{52, 28}</string>
			<key>spriteSourceSize</key>
			<string>{52, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 120}, {52, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>waterwave04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 32}</string>
			<key>spriteSourceSize</key>
			<string>{52, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 350}, {52, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>pm.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>