<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>background_sky.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 450}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 450}</string>
			<key>spriteSourceSize</key>
			<string>{16, 450}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{230, 16}, {16, 450}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>background_wave01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 68}</string>
			<key>spriteSourceSize</key>
			<string>{52, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 840}, {52, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>background_wave02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {52, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 68}</string>
			<key>spriteSourceSize</key>
			<string>{52, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{168, 452}, {52, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>background_wave03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {52, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 68}</string>
			<key>spriteSourceSize</key>
			<string>{52, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{576, 266}, {52, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>background_wave04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {52, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 68}</string>
			<key>spriteSourceSize</key>
			<string>{52, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 772}, {52, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>background_wave05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {52, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 68}</string>
			<key>spriteSourceSize</key>
			<string>{52, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{576, 196}, {52, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>background_wave06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {52, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 68}</string>
			<key>spriteSourceSize</key>
			<string>{52, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{524, 674}, {52, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boat01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {104, 332}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 332}</string>
			<key>spriteSourceSize</key>
			<string>{104, 332}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{124, 16}, {104, 332}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottle01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 52}</string>
			<key>spriteSourceSize</key>
			<string>{18, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 350}, {18, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_down01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 44}, {66, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 114}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{372, 16}, {80, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_down02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 54}, {66, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 114}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{270, 772}, {80, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_down03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 56}, {66, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 114}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{494, 210}, {80, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_hit01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 22}, {58, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 114}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{330, 212}, {80, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_idle01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 18}, {60, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 114}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{442, 674}, {80, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_idle02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 20}, {60, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 114}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{446, 558}, {80, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_idle03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 20}, {60, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 114}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 804}, {80, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_idle04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 22}, {60, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 114}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 656}, {80, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_jump01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 8}, {60, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 114}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{446, 326}, {80, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_jump02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 4}, {60, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 114}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{412, 210}, {80, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_jump03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 2}, {60, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 114}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{248, 212}, {80, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_jump04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 2}, {60, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 114}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{248, 328}, {80, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_walk01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 28}, {62, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 114}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 804}, {80, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_walk02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 10}, {60, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 114}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{454, 16}, {80, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_walk03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 8}, {60, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 114}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{446, 442}, {80, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>capn_walk04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 10}, {60, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 114}</string>
			<key>spriteSourceSize</key>
			<string>{80, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 724}, {80, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carl_fall01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {110, 96}}</string>
			<key>spriteOffset</key>
			<string>{-1, 9}</string>
			<key>spriteSize</key>
			<string>{110, 96}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 540}, {110, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carl_jump01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {114, 116}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{114, 116}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 468}, {114, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carl_run01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 22}, {92, 94}}</string>
			<key>spriteOffset</key>
			<string>{-7, -10}</string>
			<key>spriteSize</key>
			<string>{92, 94}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{94, 708}, {92, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carl_run02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 24}, {106, 90}}</string>
			<key>spriteOffset</key>
			<string>{-6, -10}</string>
			<key>spriteSize</key>
			<string>{106, 90}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 540}, {106, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carl_run03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 24}, {106, 86}}</string>
			<key>spriteOffset</key>
			<string>{-6, -8}</string>
			<key>spriteSize</key>
			<string>{106, 86}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{338, 420}, {106, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carl_run04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 22}, {92, 94}}</string>
			<key>spriteOffset</key>
			<string>{-7, -10}</string>
			<key>spriteSize</key>
			<string>{92, 94}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 708}, {92, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carl_run05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 24}, {106, 90}}</string>
			<key>spriteOffset</key>
			<string>{-6, -10}</string>
			<key>spriteSize</key>
			<string>{106, 90}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{338, 328}, {106, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carl_run06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 24}, {106, 86}}</string>
			<key>spriteOffset</key>
			<string>{-6, -8}</string>
			<key>spriteSize</key>
			<string>{106, 86}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{338, 508}, {106, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {166, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{166, 44}</string>
			<key>spriteSourceSize</key>
			<string>{166, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 452}, {166, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 42}</string>
			<key>spriteSourceSize</key>
			<string>{192, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 408}, {192, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{132, 40}</string>
			<key>spriteSourceSize</key>
			<string>{132, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 498}, {132, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earl_fall01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {66, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 74}</string>
			<key>spriteSourceSize</key>
			<string>{102, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{374, 630}, {66, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earl_run01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {90, 76}}</string>
			<key>spriteOffset</key>
			<string>{4, 1}</string>
			<key>spriteSize</key>
			<string>{90, 76}</string>
			<key>spriteSourceSize</key>
			<string>{102, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 132}, {90, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earl_run02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {96, 68}}</string>
			<key>spriteOffset</key>
			<string>{-3, -3}</string>
			<key>spriteSize</key>
			<string>{96, 68}</string>
			<key>spriteSourceSize</key>
			<string>{102, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 638}, {96, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earl_run03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 6}, {94, 66}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{94, 66}</string>
			<key>spriteSourceSize</key>
			<string>{102, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 656}, {94, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earl_run04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {90, 76}}</string>
			<key>spriteOffset</key>
			<string>{4, 1}</string>
			<key>spriteSize</key>
			<string>{90, 76}</string>
			<key>spriteSourceSize</key>
			<string>{102, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 132}, {90, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earl_run05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {102, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{102, 68}</string>
			<key>spriteSourceSize</key>
			<string>{102, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{220, 586}, {102, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earl_run06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 6}, {96, 66}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{96, 66}</string>
			<key>spriteSourceSize</key>
			<string>{102, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 638}, {96, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plank01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {584, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{584, 14}</string>
			<key>spriteSourceSize</key>
			<string>{584, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {584, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sail01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {122, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{122, 194}</string>
			<key>spriteSourceSize</key>
			<string>{122, 194}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 212}, {122, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sail02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{122, 194}</string>
			<key>spriteSourceSize</key>
			<string>{122, 194}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{248, 16}, {122, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sail03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {110, 194}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{122, 194}</string>
			<key>spriteSourceSize</key>
			<string>{122, 194}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 16}, {122, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sail04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {110, 194}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{122, 194}</string>
			<key>spriteSourceSize</key>
			<string>{122, 194}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{586, 0}, {122, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>waterdrop01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 22}</string>
			<key>spriteSourceSize</key>
			<string>{22, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 384}, {22, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>waterdrop02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {12, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{12, 12}</string>
			<key>spriteSourceSize</key>
			<string>{12, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{168, 384}, {12, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>waterwave01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 32}</string>
			<key>spriteSourceSize</key>
			<string>{52, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{324, 596}, {52, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>waterwave02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {52, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 32}</string>
			<key>spriteSourceSize</key>
			<string>{52, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 350}, {52, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>waterwave03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {52, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 32}</string>
			<key>spriteSourceSize</key>
			<string>{52, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{374, 706}, {52, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>waterwave04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 32}</string>
			<key>spriteSourceSize</key>
			<string>{52, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{378, 596}, {52, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>pm.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>